{% load staticfiles %}<!DOCTYPE HTML>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
	<title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{% block stylesheet %}{% static "aliases/css/style.css" %}{% endblock %}" />
  <link href="{% static 'aliases/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  {% block extrastyle %}{% endblock %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>

<body>
  <div class="container">
  {% block navbar %}{% endblock %}
  
  {% block header %}{% endblock %}
  {% block sidemenu %}{% endblock %}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% block footer %}{% endblock %}
  </div>
</body>
</html>
