{% extends "aliases/base_site.html" %}

{% load ratings %}

{% block header %}
  <div class="hero-unit">
    <h1>Welcome to fabulous Bash Aliases !</h1>
    <p>Here you'll find some bash aliases and share yours with other.</p>
  </div>
{% endblock %}

{% block content %}
  {% if object_list %}
    {% for alias in object_list %}
      <div class="raw">

        <div class="col-lg-9">
          <p>
            Posted by {{ alias.created_by }} on {{ alias.created_at }}
          </p>
            <blockquote class="alias">
              <p class="well"><code>{{ alias.content }}</code></p>
              <small>{{ alias.description }}</small>
            </blockquote>
          </p>
        </div>


        <div class="col-lg-3">
          <h2>Rating</h2>
          <p>Actually this alias is rated <strong>{{ alias.rating.get_rating }}/5</strong>. Rate this one too !</p>
          <form class="rating" method="post" action="{% url 'aliases:rate' alias.id %}">
            {% csrf_token %}
            {% rating_by_request request on alias.rating as vote %}
            {% for radio in alias.rating_form.rate %}
              <input type="radio" id="{{ radio.name }}{{ radio.choice_value }}" name="{{ radio.name }}" value="{{ radio.choice_value }}" {% ifequal vote|add:"0" radio.choice_label|add:"0" %}checked{% endifequal %}/><label for="{{ radio.name }}{{ radio.choice_value }}">{{ radio.choice_label }}</label>
            {% endfor %}
            <input type="submit" value="Rate !" />
          </form>
        </div>
      </div>
      <div class="raw">
        <div class="col-lg-12">
        {% for tag in alias.tags.all %}
          <a href="{% url 'aliases:tagged' tag %}" class="btn btn-primary btn-xs">{{ tag }}</a>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No alias here.</p>
  {% endif %}
{% endblock %}
