{% extends "aliases/base_site.html" %}

{% load ratings %}

{% block header %}
  <div class="hero-unit">
    <h1>Welcome to fabulous Bash Aliases !</h1>
    <p>Here you'll find some bash aliases and share yours with other.</p>
  </div>
{% endblock %}

{% block content %}
  {% if object_list %}
    {% if is_paginated %}
    <div class="col-lg-12">
      <ul class="pager">
        <li {% if not page_obj.has_previous %}class="disabled"{% endif %}><a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">&laquo;</a></li>
        {% for page in paginator.page_range %}
        <li {% ifequal page_obj.number page %}class="active disabled"{% endifequal %}><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}
        <li {% if not page_obj.has_next %}class="disabled"{% endif %}><a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">&raquo;</a></li>
      </ul>
    </div>
    {% endif %}
    {% for alias in object_list %}
      <div class="raw">

        <div class="col-lg-9">
          <p>
            Posted by {{ alias.created_by }} on {{ alias.created_at }}
          </p>
          <blockquote class="alias">
            <p class="well"><code>{{ alias.content }}</code></p>
            <small>{{ alias.description }}</small>
          </blockquote>
          <p>Tags :
          {% for tag in alias.tags.all %}
            <a href="{% url 'aliases:tagged' tag %}" class="btn btn-primary btn-xs">{{ tag }}</a>
          {% endfor %}
          </p>
        </div>


        <div class="col-lg-3">
          <h2>Rating</h2>
          <p>Actually this alias is rated <strong>{{ alias.rating.get_rating }}/5</strong>. Rate this one too !</p>
          <form class="rating" method="post" action="{% url 'aliases:rate' alias.id %}">
            {% csrf_token %}
            {% rating_by_request request on alias.rating as vote %}
            <div class="btn-group btn-group-justify" data-toggle="buttons">
              {% for radio in alias.rating_form.rate %}
              <label class="btn btn-primary {% ifequal vote|add:"0" radio.choice_label|add:"0" %}checked{% endifequal %}">
                <input type="radio" id="{{ radio.name }}{{ radio.choice_value }}" name="{{ radio.name }}" value="{{ radio.choice_value }}" />{{ radio.choice_label }}
              </label>
              {% endfor %}
            </div>
            <input class="btn" type="submit" value="Rate !" />
          </form>
        </div>
      </div>

    {% endfor %}
  {% else %}
    <p>No alias here.</p>
  {% endif %}
{% endblock %}
