{% extends "aliases/base_site.html" %}

{% block header %}
  <div class="hero-unit">
    <h1>Welcome to fabulous Bash Aliases !</h1>
    <p>Here you'll find some bash aliases and share yours with other.</p>
  </div>
{% endblock %}

{% block content %}
  {% if aliases %}
    {% for alias in aliases %}
      <p>
        Posted by toto at 12th January
      </p>
        <blockquote class="alias">
          <p class="well"><code>{{ alias.content }}</code></p>
          <small>{{ alias.description }}</small>
        </blockquote>
      </p>
      <p class="btn-group">
        <a class="btn btn-small" href="{% url 'aliases:show' alias.id %}"><i class="icon-comment"></i>Comment (TODO)</a> <a class="btn btn-small" href="{% url 'aliases:rank_add' alias.id %}"><i class="icon-heart"></i>I love this one</a> <a class="btn btn-small" href="{% url 'aliases:rank_sub' alias.id %}"><i class="icon-remove"></i>This is a peace of shit</a>
      </p>
    {% endfor %}
  {% else %}
    <p>No alias here.</p>
  {% endif %}
{% endblock %}
