{% extends "aliases/base_site.html" %}

{% load comments %}

{% block content %}
<h2>Alias #{{ alias.id }}</h2>
  <blockquote>
    <p>{{ alias.content }}</p>
    <small>{{ alias.description }}</small>
  </blockquote>

{% get_comment_count for alias as comment_count %}
<h3>Comments ({{ comment_count }})</h3>
{% render_comment_list for alias %}

<h3>Post a comment</h3>
  {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %}class="text-{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
  {% endif %}


{% render_comment_form for alias %}


  <form action="{% url 'aliases:comment' alias.id %}" method="post" class="input-append span12">
    {% csrf_token %}
    <input type="text" id="content" name="content" placeholder="Enter your comment here..."></textarea>
    <input class="btn" type="submit" value="Save" />
  </form>

<p class="text-right" ><a href="{% url "aliases:index" %}">Go back</a></p>
{% endblock %}
