{% extends "aliases/base_site.html" %}

{% load disqus_tags %}
{% block header %}
{% disqus_dev %}
{% endblock %}

{% block content %}
<h2>Alias #{{ alias.id }}</h2>
  <div class="row">
    <div class"span9">
      <blockquote>
        <p><code>{{ alias.content }}</code></p>
        <small>{{ alias.description }}</small>
      </blockquote>
    </div>

    <div class"span3">
      <span class="rating">
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
        <span class="star"></span>
      </span>
    </div>
  </div>

<h3>Comments</h3>
{% disqus_show_comments %}

<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'mybashaliases';
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the comments.</a></noscript>

{% endblock %}
