{% load staticfiles %}<!DOCTYPE HTML>
{% load active_page %}

<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
<head>
  <title>{% block title %}{{ title }} | My bash aliases !{% endblock %}</title>

  {#<link rel="stylesheet/less" type="text/css" href="{% static 'aliases/less/style.less' %}"></link>#}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap-glyphicons.css' %}"></link>
  <link rel="stylesheet" href="{% static 'aliases/css/style.css' %}"></link>

  {% block extrastyle %}{% endblock %}

  {#<script src="{% static 'aliases/js/less-1.4.1.min.js'  %}" type="text/javascript"></script>#}
  <script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static 'aliases/js/application.js' %}"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>

<body>
  <div class="container">
  {% block navbar %}
  <nav class="navbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "aliases:index" %}">MyBashAliases</a>
    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="{% active request "aliases:top" %}"><a href="{% url "aliases:top" %}">Top</a></li>
          <li class="{% active request "aliases:random" %}"><a href="{% url "aliases:random" %}">Random</a></li>
          <li class="{% active request "aliases:all" %}"><a href="{% url "aliases:all" %}">All</a></li>
          <li class="{% active request "aliases:submit" %}"><a href="{% url "aliases:submit" %}">Submit</a></li>
          <li><a href="#">About</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {{ user.username }}
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url "registration:my_profile" %}">My Aliases</a></li>
              <li><a href="{% url "registration:my_profile" %}">My Profile</a></li>
              <li class="divider"></li>
              <li class="{% active request "registration:logout" %}"><a href="{% url "registration:logout" %}">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <li class="{% active request "registration:login" %}"><a href="{% url "registration:login" %}">Login</a></li>
        {% endif %}
        </ul>

        <form class="navbar-form navbar-right" role="search" method="get" action="{% url "aliases:search" %}">
          <div class="form-group">
            <input type="text" id="{{ search_form.q.id_for_label }}" class="form-control" placeholder="Search" {% if search_form.q.value %}value="{{ search_form.q.value }}"{% endif %} name="{{ search_form.q.name }}"/>
          </div>
        </form>
    </div>
  </nav>
  {% endblock %}

  {% block header %}{% endblock %}
  {% block sidemenu %}{% endblock %}


  {### BLOCK alert_messages ###}
  {% block alert_messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
  </div>
  {% endfor %}
  {% endblock %}
  {### BLOCK alert_messages ###}

  {### BLOCK content ###}
  {% block content %}
    {{ content }}
  {% endblock %}
  {### BLOCK content ###}
  </div>

  {### BLOCK footer ###}
  {% block footer %}
  <footer>
    <div class="container">
      <p>Romain THERRAT - 2013 Copyleft.</p>
    </div>
  </footer>
  {% endblock %}
  {### BLOCK footer ###}

</body>
</html>
