{% extends "base_form.html" %}

{% block content_text %}
  <p>In order to loggin and be able to post some new aliases please fill this form.</p>
{% endblock %}

{% block content_form %}
      <form method="post" action="{% url 'registration:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <fieldset>
          <legend>Login</legend>
          {% include "form.html" %}
        </fieldset>
        <input type="submit" class="pull-right btn btn-default" value="login" />
      </form>
{% endblock %}
